<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改资料</title>
    <link rel="stylesheet" type="text/css" href="/static/h+/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/font-awesome.min93e3.css?v=4.4.0">
    <!-- Data Tables -->
    <link rel="stylesheet" type="text/css" href="/static/h+/css/plugins/iCheck/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/style.min.css?v=4.1.0">
    <link rel="stylesheet" type="text/css" href="/static/layer/skin/layer.css">
    <link rel="stylesheet" type="text/css" href="/static/uploadifive/uploadifive.css">
    <style type="text/css">
        .form-control{width: 200px;}
        .sj,.kf{display: none;}
        #preview{max-width: 120px;max-height: 120px;display: none;}
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>修改资料</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" onsubmit="return false">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">登录账号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="username" value="{$admin.username}" disabled="disabled">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">登录密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="pwd1">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">确认密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="pwd2">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">用户角色</label>
                            <div class="col-sm-10">
                                <select id="role_id" class="form-control"{if($role_id!=1)} disabled="disabled"{/if}>
                                    <option value="0">…请选择用户角色…</option>
                                    {foreach $roles as $r}
                                    <option value="{$r.id}"{if($admin.role_id==$r.id)} selected="selected"{/if}>{$r.name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">真实姓名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="realname" value="{$admin.realname}">
                            </div>
                        </div>
                        <div class="hr-line-dashed kf"{if($admin.role_id==5)} style="display: block;"{/if}></div>
                        <div class="form-group kf"{if($admin.role_id==5)} style="display: block;"{/if}>
                            <label class="col-sm-2 control-label">主管</label>
                            <div class="col-sm-10">
                                <select id="z_id" class="form-control">
                                    <option value="0">…请选择业务员…</option>
                                    {foreach $executive as $e}
                                    <option value="{$e['id']}"{if($admin.z_id==$e.id)} selected="selected"{/if}>{$e['nickname']}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group sj"{if($admin.role_id==3)} style="display: block;"{/if}>
                            <label class="col-sm-2 control-label">昵称/商家名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="nickname" value="{$admin.nickname}">
                            </div>
                        </div>
                        <div class="hr-line-dashed sj"{if($admin.role_id==3)} style="display: block;"{/if}></div>
                        <div class="form-group sj"{if($admin.role_id==3)} style="display: block;"{/if}>
                            <label class="col-sm-2 control-label">业务员</label>
                            <div class="col-sm-10">
                                <select id="s_id" class="form-control">
                                    <option value="0">…请选择业务员…</option>
                                    {foreach $salesman as $s}
                                    <option value="{$s['id']}"{if($admin.s_id==$s.id)} selected="selected"{/if}>{$s.nickname}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed sj"{if($admin.role_id==3)} style="display: block;"{/if}></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">头像</label>
                            <div class="col-sm-10">
                                <table width="100%">
                                    <tr>
                                        <td valign="top" width="120px"><input id="file_upload" name="file_upload" type="file"></td>
                                        <td valign="top"><input class="btn btn-primary" type="button" data-action="upload" value="上传"></td>
                                    </tr>
                                    <tr><td colspan="2"><div id="progress"></div><input type="hidden" id="avatar"></td></tr>
                                    <tr><td colspan="2"><img id="preview" src=""></td></tr>
                                </table>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">电子邮箱</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="email" value="{$admin.email}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">手机</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="mobile" value="{$admin.mobile}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">QQ</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="qq" value="{$admin.qq}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">微信</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="wx" value="{$admin.wx}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">银行卡号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="bank_card" value="{$admin.bank_card}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">持卡人姓名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="bank_name" value="{$admin.bank_name}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input class="btn btn-primary" type="button" data-action="save" value="保存内容">
                                {if($role_id==1)}<input class="btn btn-white" type="button" data-action="cancel" value="取消">{/if}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/h+/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/h+/js/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="/static/layer/layer.js"></script>
<script type="text/javascript" src="/static/uploadifive/jquery.uploadifive.js"></script>
<script type="text/javascript">
    $(function(){
        $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",});
        $('#role_id').change(function(){
            if ($(this).val() == 3) {
                $('.sj').css('display', 'block')
            } else {
                $('.sj').css('display', 'none')
            }
            if ($(this).val() == 5) {
                $('.kf').css('display', 'block')
            } else {
                $('.kf').css('display', 'none')
            }
        });
        $('input[data-action]').click(function(){
            $action = $(this).data('action');
            if ($action == 'save') {
                var uid = $('#uid'), pwd1 = $('#pwd1'), pwd2 = $('#pwd2'), role_id = $('#role_id').val(), realname = $('#realname'), nickname = $('#nickname'), s_id = $('#s_id').val(), avatar = $('#avatar').val();
                if (pwd1.val() != '' && pwd1.val() != pwd2.val()) {
                    layer.msg('再次输入的密码不一致', {icon: 5, time: 1000}, function(){pwd1.focus()});
                    return false
                }
                if (role_id <= 0) {
                    layer.msg('请选择用户角色', {icon: 5, time: 1000});
                    return false
                }
                if (realname.val() == '') {
                    layer.msg('真实姓名不能为空', {icon: 5, time: 1000}, function(){realname.focus()});
                    return false
                }
                if (nickname.val() == '') {
                    layer.msg('昵称/商家名称不能为空', {icon: 5, time: 1000}, function(){nickname.focus()});
                    return false
                }
                if (role_id == 5 && z_id <= 0) {
                    layer.msg('请选择客服主管', {icon: 5, time: 1000});
                    return false
                }
                if (role_id == 3 && s_id <= 0) {
                    layer.msg('请选择业务员', {icon: 5, time: 1000});
                    return false
                }
                $.ajax({
                    type: 'post', cache: false, dataType: 'json',
                    url: '/admin/edit',
                    data: {'id': {$admin['id']}, 'uid': uid.val(), 'pwd': pwd2.val(), 'role_id': role_id, 'realname': realname.val(), 'nickname': nickname.val(), 's_id': s_id, 'avatar': avatar, 'email': $('#email').val(), 'mobile': $('#mobile').val(), 'qq': $('#qq').val(), 'wx': $('#wx').val(), 'bank_card': $('#bank_card').val(), 'bank_name': $('#bank_name').val()},
                    success: function(data){
                        if (data.status == 0) {
                            layer.msg(data.info, {icon: 6, time: 1000});
                        }else{
                            layer.msg(data.info, {icon: 5, time: 1000});
                        }
                    }
                });
            } else if ($action == 'upload') {
                $('#file_upload').uploadifive('upload')
            }{if($role_id==1)} else if ($action == 'cancel') {
                location.href = '/admin/lists';
            }{/if}
        });
        $('#file_upload').uploadifive({
            'auto'             : false,
            'buttonText'       : '选择图片',
            'queueID'          : 'progress',
            'fileTypeDesc'     : 'Image Files',
            'fileTypeExts'     : '*.jpg;*.gif;*.png',
            'multi'            : false,
            'removeCompleted'  : true,
            'formData'         : {
                'timestamp' : '{$time}',
                'token'     : '{$token}'
            },
            'uploadScript'     : '/upload',
            'onUploadComplete' : function(file, data) {
                // data = eval('(' + data + ')');
                data = JSON.parse(data);
                $('#avatar').val(data.path);
                // $('#thumb').attr('src', '/uploads/' + data.path);
            }
        });
    });
</script>
</html>