body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:827px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:88px;
  width:101px;
  height:94px;
}
#u868_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:97px;
  word-wrap:break-word;
}
#u869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:88px;
  width:101px;
  height:94px;
}
#u869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:97px;
  word-wrap:break-word;
}
#u870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:88px;
  width:101px;
  height:94px;
}
#u870_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:97px;
  word-wrap:break-word;
}
#u871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:88px;
  width:101px;
  height:94px;
}
#u871_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:97px;
  word-wrap:break-word;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:88px;
  width:300px;
  height:94px;
}
#u872_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:94px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:218px;
  width:101px;
  height:94px;
}
#u873_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:97px;
  word-wrap:break-word;
}
#u874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:218px;
  width:101px;
  height:94px;
}
#u874_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:97px;
  word-wrap:break-word;
}
#u875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:218px;
  width:101px;
  height:94px;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:97px;
  word-wrap:break-word;
}
#u876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:218px;
  width:101px;
  height:94px;
}
#u876_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:97px;
  word-wrap:break-word;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:218px;
  width:300px;
  height:94px;
}
#u877_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:94px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
