<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>试客列表</title>
    <link rel="stylesheet" type="text/css" href="/static/h+/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/font-awesome.min93e3.css?v=4.4.0">
    <!-- Data Tables -->
    <link rel="stylesheet" type="text/css" href="/static/h+/css/plugins/dataTables/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/style.min.css?v=4.1.0">
    <link rel="stylesheet" type="text/css" href="/static/layer/skin/layer.css">
    <link rel="stylesheet" type="text/css" href="/static/paging/paging.css">
    <style type="text/css">
        .form-control{width: 100px;}
        .ttd{width: 120px;text-align: center;}
        .ttb{width: 80px;text-align: center;}
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <form action="/shokey/index" method="post">
                    <table cellpadding="0" cellspacing="0" width="100%" border="0">
                        <tr>
                            <td class="ttd"><input type="text" name="name" placeholder="试客名" class="input-sm form-control" value=""></td>
                            <td class="ttd"><input type="text" name="wx" placeholder="微信号" class="input-sm form-control" value=""></td>
                            <td class="ttd"><input type="text" name="mobile" placeholder="手机号" class="input-sm form-control" value=""></td>
                            <td class="ttd"><input type="text" name="wangwang" placeholder="旺旺号" class="input-sm form-control" value=""></td>
                            <td class="ttd">
                                <select name="status" class="form-control">
                                    <option value="1">已派单</option>
                                </select>
                            </td>
                            <td class="ttb"><input type="submit" class="btn btn-sm btn-primary" value="搜索"></td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                    </form>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>手机号</th>
                            <th>微信号</th>
                            <th>旺旺号</th>
                            <th>年龄</th>
                            <th>性别</th>
                            <th>省/市</th>
                            <th>状态</th>
                            <th>上笔订单完成时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach $list as $k=>$item}
                        <tr class="gradeX">
                            <td>{$k+1}</td>
                            <td>{$item.name}</td>
                            <td>{$item.mobile}</td>
                            <td>{$item.wx}</td>
                            <td>{$item.wangwang}</td>
                            <td>{$item.age}</td>
                            <td>{$item.sex_txt}</td>
                            <td>{$item.province}/{$item.city}</td>
                            <td>{$item.status_txt}</td>
                            <td>{$item.last_order_time}</td>
                            <td>{if($item.status==0&&($admin.role_id==1||$admin.role_id==2))}<a href="javascript:;" data-action="auditor" data-id="{$item.id}">审核</a>{elseif($item.status==8&&$admin.role_id==3)}<a href="#?id={$item.id}">发布任务</a> | <a href="/shop/edit?id={$item.id}">编辑</a>{/if}</td>
                        </tr>
                        {/foreach}
                        </tbody>
                        <footer>
                            <tr>
                                <td colspan="100"><div class="dataTables_paginate paging_simple_numbers paging_page">{$pages}</div></td>
                            </tr>
                        </footer>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/h+/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/layer/layer.js"></script>
<script type="text/javascript" src="/static/paging/paging-min.js"></script>
<script>
    $(function () {
        $('a[data-action]').click(function(){
            var $action = $(this).data('action'), $id = $(this).data('id');
            if($action == 'auditor'){
                layer.confirm('店铺审核', {
                    btn: ['通过', '不通过', '取消'],
                    shade: false,
                    closeBtn: 0
                }, function(){
                    auditor($id, 8)
                }, function(){
                    auditor($id, 4)
                })
            }
        });
        function auditor($id, $status) {
            var $msg = '确实审核通过吗？';
            if ($status == 4) {
                $msg = '确实审核不通过吗？';
            }
            layer.confirm($msg, {icon: 3}, function(){
                $.ajax({
                    type: 'post', cache: false, dataType: 'json',
                    url: '/shop/auditor',
                    data:{'id': $id, 'status': $status},
                    success: function(data){
                        if (data.status == 0) {
                            layer.msg(data.info, {icon: 1, time: 1000}, function(){
                                location.reload();
                            });
                        }else{
                            layer.msg(data.info, {icon: 5, time: 1000})
                        }
                    }
                })
            })
        }
    })
</script>
</html>
