body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1691px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1679px;
  height:852px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:9px;
  width:1679px;
  height:852px;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
