<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商家提现</title>
    <link rel="stylesheet" type="text/css" href="/static/h+/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/font-awesome.min93e3.css?v=4.4.0">
    <!-- Data Tables -->
    <link rel="stylesheet" type="text/css" href="/static/h+/css/plugins/iCheck/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/style.min.css?v=4.1.0">
    <link rel="stylesheet" type="text/css" href="/static/layer/skin/layer.css">
    <link rel="stylesheet" type="text/css" href="/static/uploadifive/uploadifive.css">
    <style type="text/css">
        .form-control{width: 200px;}
        .col-sm-10{display: inline-block;}
        #zfb{width: 150px;}
        #yhk{display: none;font-size: 14px;}
        #yhk span{color: #f00;font-weight: bold;font-size: 20px;}
        .red{color: #f00;font-size: 18px;}
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal" onsubmit="return false">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="red">*</span>提现金额</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="amount">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="red">*</span>银行卡号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="bank_card">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="red">*</span>银行卡姓名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="bank_name">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input class="btn btn-primary" type="button" data-action="save" value="保存内容">
                                <input class="btn btn-white" type="button" data-action="cancel" value="取消">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/h+/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/layer/layer.js"></script>
<script type="text/javascript" src="/static/uploadifive/jquery.uploadifive.min.js"></script>
<script type="text/javascript">
    $(function(){
        $('input[data-action]').click(function(){
            $action = $(this).data('action');
            if ($action == 'save') {
                var a = $('#amount'), c = $('#bank_card'), n = $('#bank_name');
                var reg = /^(\d+)(\.\d{1,2})?$/;
                if (a.val() == '' || !reg.test(a.val())) {
                    layer.msg('金额输入错误', {icon: 3, time: 1000}, function(){a.focus()});
                    return false
                }
                if (c.val() == '') {
                    layer.msg('请填写银行卡号', {icon: 3, time: 1000}, function(){c.focus()});
                    return false
                }
                if (n.val() == '') {
                    layer.msg('请填写银行卡姓名', {icon: 3, time: 1000}, function(){n.focus()});
                    return false
                }
                $.ajax({
                    type: 'post', cache: false, dataType: 'json',
                    url: '/finance/putforward',
                    data: {'amount': a.val(), 'bank_card': c.val(), 'bank_name': n.val()},
                    success: function(data){
                        if (data.status == 0) {
                            layer.msg(data.info, {icon: 6, time: 1000}, function(){
                                parent.location.reload();
                                parent.layer.closeAll();
                            })
                        } else {
                            layer.msg(data.info, {icon: 5, time: 1000})
                        }
                    }
                })
            } else if ($action == 'cancel') {
                parent.layer.closeAll()
            }
        });
    });
</script>
</html>