<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>充值记录</title>
    <link rel="stylesheet" type="text/css" href="/static/h+/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/font-awesome.min93e3.css?v=4.4.0">
    <!-- Data Tables -->
    <link rel="stylesheet" type="text/css" href="/static/h+/css/plugins/dataTables/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/style.min.css?v=4.1.0">
    <link rel="stylesheet" type="text/css" href="/static/layer/skin/layer.css">
    <link rel="stylesheet" type="text/css" href="/static/paging/paging.css">
    <style type="text/css">
        .form-control{width: 220px;}
        .ttd{width: 250px;text-align: center;}
        .ttb{width: 80px;text-align: center;}
        .jt{max-width: 80px;max-height: 80px;}
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <form action="/finance/rechargelog" method="post">
                    <table cellpadding="0" cellspacing="0" width="100%" border="0">
                        <tr>
                            <td class="ttd"><input type="text" name="keyword" placeholder="商家名称" class="input-sm form-control"></td>
                            <td class="ttb"><input type="submit" class="btn btn-sm btn-primary" value="搜索"></td>
                            <td class="ttb"><input class="btn btn-primary" type="button" data-action="recharge" value="充值"></td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                    </form>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>商家/店铺</th>
                                <th>充值方式</th>
                                <th>充值时间</th>
                                <th>充值截图</th>
                                <th>充值金额</th>
                                <th>交易单号</th>
                                <th>状态</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach $list as $k=>$item}
                            <tr>
                                <td>{$k+1}</td>
                                <td>{$item.nickname}</td>
                                <td>{if($item.pay_mode == 1)}支付宝{else/}银行卡{/if}</td>
                                <td>{$item.addtime}</td>
                                <td><img src="/uploads/{$item.img}" class="jt"></td>
                                <td>{$item.amount}</td>
                                <td>{$item.orders}</td>
                                <td>{if($item.status == 0 && ($role_id == 6 || $role_id == 1))}<a href="javascript:;" data-action="auditor" data-id="{$item['id']}">审核</a>{else /}<span>{$item.status_txt}{/if}</span></td>
                            </tr>
                            {/foreach}
                        </tbody>
                        <footer>
                            <tr>
                                <td colspan="100"><div class="dataTables_paginate paging_simple_numbers paging_page">{$pages}</div></td>
                            </tr>
                        </footer>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/h+/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/layer/layer.js"></script>
<script type="text/javascript" src="/static/paging/paging-min.js"></script>
<script>
    $(function () {
        layer.config({extend: 'extend/layer.ext.js'});
        $('[data-action]').click(function(){
            var $action = $(this).data('action');
            if ($action == 'recharge') {
                layer.open({
                    type: 2,
                    title: '充值',
                    shadeClose: false,
                    content: '/finance/recharge',
                    area: ['500px', '98%']
                });
            } else if ($action == 'auditor') {
                $id = $(this).data('id');
                layer.confirm('充值审核', {
                    btn: ['通过', '不通过', '取消'],
                    shade: false,
                    closeBtn: 0
                }, function(){
                    $.ajax({
                        type: 'post', cache: false, dataType: 'json',
                        url: '/finance/auditor',
                        data: {'id': $id, 'status': 8},
                        success: function(data){
                            if (data.status == 0) {
                                location.reload();
                                layer.msg(data.info, {icon: 6})
                            } else {
                                layer.msg(data.info, {icon: 5})
                            }
                        }
                    })
                }, function(){
                    layer.prompt({
                        formType: 2,
                        title: '请输入驳回原因'
                    }, function(v, i, e){
                        layer.close(i);
                        $.ajax({
                            type: 'post', cache: false, dataType: 'json',
                            url: '/finance/auditor',
                            data: {'id': $id, 'reason': v, 'status': 1},
                            success: function(data){
                                if (data.status == 0) {
                                    location.reload();
                                    layer.msg(data.info, {icon: 6})
                                } else {
                                    layer.msg(data.info, {icon: 5})
                                }
                            }
                        })
                    })
                })
            }
        });
    });
</script>
</html>
