<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>佣金审核</title>
    <link rel="stylesheet" type="text/css" href="/static/h+/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/font-awesome.min93e3.css?v=4.4.0">
    <!-- Data Tables -->
    <link rel="stylesheet" type="text/css" href="/static/h+/css/plugins/dataTables/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/style.min.css?v=4.1.0">
    <link rel="stylesheet" type="text/css" href="/static/layer/skin/layer.css">
    <link rel="stylesheet" type="text/css" href="/static/paging/paging.css">
    <style type="text/css">
        .form-control{width: 100px;}
        .ttd{width: 120px;text-align: center;}
        .ttb{width: 80px;text-align: center;}
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <form action="/finance/supplement" method="post">
                    <table cellpadding="0" cellspacing="0" width="100%" border="0">
                        <tr>
                            <td class="ttb"><input type="button" data-action="kfpay" class="btn btn-sm" value="充值"></td>
                            <td class="ttd"><input type="text" name="start" id="start" placeholder="起始时间" class="form-control layer-date" value="{$param['start']}"></td>
                            <td class="ttd"><input type="text" name="end" id="end" placeholder="结束时间" class="form-control layer-date" value="{$param['end']}"></td>
                            <td class="ttb"><input type="submit" class="btn btn-sm btn-primary" value="搜索"></td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                    </form>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>充值时间</th>
                            <th>变动前金额</th>
                            <th>变动后金额</th>
                            <th>变动金额</th>
                            <th>备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach $list as $k=>$item}
                        <tr class="gradeX">
                            <td>{$k+1}</td>
                            <td>{$item.addtime}</td>
                            <td>{$item.before_money}</td>
                            <td>{$item.after_money}</td>
                            <td>{$item.money}</td>
                            <td>{$item.remark}</td>
                        </tr>
                        {/foreach}
                        </tbody>
                        <footer>
                            <tr>
                                <td colspan="100"><div class="dataTables_paginate paging_simple_numbers paging_page">{$pages}</div></td>
                            </tr>
                        </footer>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/h+/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/layer/layer.js"></script>
<script type="text/javascript" src="/static/h+/js/plugins/layer/laydate/laydate.js"></script>
<script type="text/javascript" src="/static/paging/paging-min.js"></script>
<script>
    $(function () {
        $('input[data-action]').click(function(){
            var $action = $(this).data('action');
            if ($action == 'kfpay') {
                layer.open({
                    type: 2,
                    title: '充值',
                    shadeClose: false,
                    content: '/finance/kfpay',
                    area: ['500px', '56%']
                })
            }
        });
        var start = {
            elem: "#start",
            format: "YYYY-MM-DD",
            max: "2099-06-16 23:59:59",
            choose: function (datas) {
                end.min = datas;
                end.start = datas
            }
        };
        var end = {
            elem: "#end",
            format: "YYYY-MM-DD",
            max: "2099-06-16 23:59:59",
            choose: function (datas) {
                start.max = datas
            }
        };
        laydate(start);
        laydate(end);
    })
</script>
</html>
