<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加店铺</title>
    <link rel="stylesheet" type="text/css" href="/static/h+/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/font-awesome.min93e3.css?v=4.4.0">
    <!-- Data Tables -->
    <link rel="stylesheet" type="text/css" href="/static/h+/css/plugins/iCheck/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/style.min.css?v=4.1.0">
    <link rel="stylesheet" type="text/css" href="/static/layer/skin/layer.css">
    <link rel="stylesheet" type="text/css" href="/static/uploadifive/uploadifive.css">
    <style type="text/css">
        .form-control{width: 200px;}
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加店铺</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" onsubmit="return false">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">店铺名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="shop_name">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">旺旺号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="wangwang">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">店铺网址</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="urll">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">手机</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="mobile">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">微信</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="wx">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">所属地</label>
                            <div class="col-sm-10">
                                <div id="distpicker">
                                  <select id="province" data-province="…所属省…"></select>
                                  <select id="city" data-city="…所属市…"></select>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input class="btn btn-primary" type="button" data-action="save" value="保存内容">
                                <input class="btn btn-white" type="button" data-action="cancel" value="取消">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/h+/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/h+/js/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="/static/layer/layer.js"></script>
<script type="text/javascript" src="/static/dist/distpicker.data.min.js"></script>
<script type="text/javascript" src="/static/dist/distpicker.min.js"></script>
<script type="text/javascript">
    $(function(){
        $("#distpicker").distpicker({
            autoSelect: false
        });
        $('input[data-action]').click(function(){
            $action = $(this).data('action');
            if ($action == 'save') {
                var shop_name = $('#shop_name'), wangwang = $('#wangwang'), urll = $('#urll'), mobile = $('#mobile'), wx = $('#wx'), province = $('#province').val(), city = $('#city').val();
                if (shop_name.val() == '') {
                    layer.msg('店铺名称不能为空', {icon: 5, time: 1000}, function(){shop_name.focus()});
                    return false
                }
                if (wangwang.val() == '') {
                    layer.msg('旺旺号不能为空', {icon: 5, time: 1000}, function(){wangwang.focus()});
                    return false
                }
                if (urll.val() == '') {
                    layer.msg('店铺网址不能为空', {icon: 5, time: 1000}, function(){urll.focus()});
                    return false
                }
                if (mobile.val() == '') {
                    layer.msg('手机不能为空', {icon: 5, time: 1000}, function(){mobile.focus()});
                    return false
                }
                if (wx.val() == '') {
                    layer.msg('微信不能为空', {icon: 5, time: 1000}, function(){wx.focus()});
                    return false
                }
                if (province == '') {
                    layer.msg('请选择所属省份', {icon: 5, time: 1000});
                    return false
                }
                if (city == '') {
                    layer.msg('请选择所属市', {icon: 5, time: 1000});
                    return false
                }
                $.ajax({
                    type: 'post', cache: false, dataType: 'json',
                    url: '/shop/add',
                    data: {'shop_name': shop_name.val(), 'wangwang': wangwang.val(), 'url': urll.val(), 'mobile': mobile.val(), 'wx': wx.val(), 'province': province, 'city': city},
                    success: function(data){
                        if (data.status == 0) {
                            layer.confirm(data.info + '<br />是否继续添加？', {
                                btn: ['是', '否'],
                                shade: false,
                                closeBtn: 0
                            }, function(){
                                location.reload()
                            }, function(){
                                location.href = '/shop/index'
                            })
                        }else{
                            layer.msg(data.info, {icon: 5, time: 1000});
                        }
                    }
                })
            } else if ($action == 'cancel') {
                location.href = '/shop/index'
            }
        });
    });
</script>
</html>