<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>任务列表</title>
    <link rel="stylesheet" type="text/css" href="/static/h+/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/font-awesome.min93e3.css?v=4.4.0">
    <!-- Data Tables -->
    <link rel="stylesheet" type="text/css" href="/static/h+/css/plugins/dataTables/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/style.min.css?v=4.1.0">
    <link rel="stylesheet" type="text/css" href="/static/layer/skin/layer.css">
    <link rel="stylesheet" type="text/css" href="/static/paging/paging.css">
    <style type="text/css">
        .form-control{width: 220px;}
        .ttd{width: 250px;text-align: center;}
        .ttb{width: 80px;text-align: center;}
        .pic{max-width: 64px;max-height: 64px;}
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>商家</th>
                            <th>店铺名</th>
                            <th>主图</th>
                            <th>宝贝详情</th>
                            <th>任务本金/预估服务费</th>
                            <th>完成金额/已扣服务费</th>
                            <th>赠送礼品</th>
                            <th>订单号</th>
                            <th>旺旺号</th>
                            <th>任务状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            {foreach $list as $k=>$item}
                            <tr>
                                <td>{$k+1}</td>
                                <td>{$item.username}</td>
                                <td>{$item.shop_name}</td>
                                <td><img src="/uploads/{$item.pic}" class="pic" onerror="this.style.display='none'"></td>
                                <td><a href="{$item.url}" target="_blank" title="{$item.title}">{$item.title}</a></td>
                                <td>￥{$item.price}/￥{$item.cost}</td>
                                <td>￥{$item.actual_price}/￥{$item.actual_cost}</td>
                                <td>{$item.reward}</td>
                                <td>{$item.tb_order}</td>
                                <td>{$item.wangwang}</td>
                                <td>{$item.status_txt}</td>
                                <td>{if($item.status==0)}<a data-action="auditor" data-id="{$item['id']}" href="#">审核</a>{elseif($item.status==8)}<a data-action="receive" data-id="{$item['id']}" href="#">领取</a>{elseif($item.status==15)}<a data-action="over" data-id="{$item['id']}" href="#">完成任务</a> | <a data-action="retreat" data-id="{$item['id']}" href="#">退领</a>{else/}已结束{/if}</td>
                            </tr>
                            {/foreach}
                        </tbody>
                        <footer>
                            <tr>
                                <td colspan="100"><div class="dataTables_paginate paging_simple_numbers paging_page">{$pages}</div></td>
                            </tr>
                        </footer>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/h+/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/layer/layer.js"></script>
<script type="text/javascript" src="/static/paging/paging-min.js"></script>
<script>
    $(function () {
        layer.config({extend: 'extend/layer.ext.js'});
        $('a[data-action]').click(function(){
            var $action = $(this).data('action'), $id = $(this).data('id');
            if($action == 'over'){
                layer.open({
                    type: 2,
                    title: '输入任务信息',
                    shadeClose: false,
                    content: '/task/over?id=' + $id,
                    area: ['500px', '70%']
                })
            }else if ($action == 'auditor') {
                layer.confirm('任务审核', {
                    btn: ['通过', '不通过', '取消'],
                    shade: false,
                    closeBtn: 0
                }, function(){
                    layer.confirm('确实要审核通过吗？', {icon: 3}, function(){
                        $.ajax({
                            type: 'post', cache: false, dataType: 'json',
                            url: '/task/oper',
                            data: {'id': $id, 'status': 8},
                            success: function(data){
                                if (data.status == 0) {
                                    layer.msg(data.info, {icon: 6, time: 1000}, function(){
                                        location.reload()
                                    });
                                }else{
                                    layer.msg(data.info, {icon: 2, time: 1000});
                                }
                            }
                        })
                    })
                }, function(){
                    layer.prompt({
                        formType: 2,
                        title: '输入审核不通过原因'
                    }, function(v, i, e){
                        $.ajax({
                            type: 'post', cache: false, dataType: 'json',
                            url: '/task/oper',
                            data: {'id': $id, 'status': 4, 'abn_reason': v},
                            success: function(data){
                                if (data.status == 0) {
                                    layer.msg(data.info, {icon: 6, time: 1000});
                                    location.reload()
                                }else{
                                    layer.msg(data.info, {icon: 2, time: 1000})
                                }
                            }
                        })
                    })
                })
            } else if ($action == 'retreat') {
                layer.confirm('确实要退领吗？', {icon: 3}, function(){
                    $.ajax({
                        type: 'post', cache: false, dataType: 'json',
                        url: '/task/oper',
                        data: {'id': $id, 'status': 8},
                        success: function(data){
                            if (data.status == 0) {
                                layer.msg(data.info, {icon: 6, time: 1000});
                                location.reload()
                            }else{
                                layer.msg(data.info, {icon: 2, time: 1000})
                            }
                        }
                    })
                })
            } else if ($action == 'receive') {
                layer.confirm('确实要领取吗？', {icon: 3}, function(){
                    $.ajax({
                        type: 'post', cache: false, dataType: 'json',
                        url: '/task/oper',
                        data: {'id': $id, 'status': 15},
                        success: function(data){
                            if (data.status == 0) {
                                layer.msg(data.info, {icon: 6, time: 1000});
                                location.reload()
                            }else{
                                layer.msg(data.info, {icon: 2, time: 1000})
                            }
                        }
                    })
                })
            }
        });
    })
</script>
</html>
