<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>发布任务</title>
    <link rel="stylesheet" type="text/css" href="/static/h+/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/font-awesome.min93e3.css?v=4.4.0">
    <!-- Data Tables -->
    <link rel="stylesheet" type="text/css" href="/static/h+/css/plugins/iCheck/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/h+/css/style.min.css?v=4.1.0">
    <link rel="stylesheet" type="text/css" href="/static/layer/skin/layer.css">
    <link rel="stylesheet" type="text/css" href="/static/uploadifive/uploadifive.css">
    <style type="text/css">
        .col-sm-10{width: 220px;display: inline-block;}
        .form-control{width: 200px;}
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>任务信息</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" onsubmit="return false">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">旺旺号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="wangwang">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">订单号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="tb_order">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">下单金额</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="actual_price">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">佣金</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="actual_cost">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input class="btn btn-primary" type="button" data-action="save" value="保存内容">
                                <input class="btn btn-white" type="button" data-action="cancel" value="取消">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/h+/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/h+/js/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="/static/layer/layer.js"></script>
<script type="text/javascript" src="/static/uploadifive/jquery.uploadifive.js"></script>
<script type="text/javascript">
    $(function(){
        var num = 2;
        $('input[data-action]').click(function(){
            $action = $(this).data('action');
            if ($action == 'save') {
                var wangwang = $('#wangwang'), tb_order = $('#tb_order'), actual_price = $('#actual_price'), actual_cost = $('#actual_cost');
                if (wangwang.val() == '') {
                    layer.msg('旺旺号不能为空', {icon: 2, time: 1000}, function(){wangwang.focus()});
                    return false
                }
                if (tb_order.val() == '') {
                    layer.msg('订单号不能为空', {icon: 2, time: 1000}, function(){tb_order.focus()});
                    return false
                }
                var reg = /^\d{18}$/;
                if (!reg.test(tb_order.val())) {
                    layer.msg('订单号必须为18位数字', {icon: 2, time: 1000}, function(){tb_order.focus()})
                    return false
                }
                if (actual_price.val() == '') {
                    layer.msg('下单价不能为空', {icon: 2, time: 1000}, function(){actual_price.focus()});
                    return false
                }
                if (actual_cost.val() == '') {
                    layer.msg('佣金不能为空', {icon: 2, time: 1000}, function(){actual_cost.focus()});
                    return false
                }
                $.ajax({
                    type: 'post', cache: false, dataType: 'json',
                    url: '/task/over',
                    data: {'id': {$taskid}, 'wangwang': wangwang.val(), 'tb_order': tb_order.val(), 'actual_price': actual_price.val(), 'actual_cost': actual_cost.val()},
                    success: function(data){
                        if (data.status == 0) {
                            layer.msg(data.info, {icon: 6, time: 1000}, function(){parent.location.reload()})
                        }else{
                            layer.msg(data.info, {icon: 5, time: 1000});
                        }
                    }
                })
            } else if ($action == 'cancel') {
                location.href = '/task/index'
            }
        });
    });
</script>
</html>